body {
	background-color: #000000;
	color: #ffffff;	
}

.icon {
	font-size: 25px !important;	
}

#photo {
	position: fixed;
	top: 40px;
	left: 0px;	
	z-index: 0;
	visibility: hidden;
}

#canvas {
	position: fixed;
	top: 40px;
	left: 0px;	
	z-index: 1;
}

