body {
	background-color: #000000;
	color: #ffffff;	
}

.icon {
	font-size: 25px !important;	
}

.photo {
	position: fixed;
	top: 0px;
	left: 0px;	
	z-index: 0;
	visibility: hidden;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

.canvas {
	position: fixed;
	top: 0px;
	left: 0px;	
	z-index: 0;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

.help {
	font-family: arial;
	font-size: 12px;
	position: fixed;
	right: 15px;
	top: 15px;	
}

.tools {
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	height: 34px;
	width: 100%;
	text-align: left;
	z-index: 1;
	opacity: 0.9;
	background-color: #000000;	
}

.text {
	position:fixed; 
	left: 100px; 
	top: 100px; 
	width: 50px;
	z-index: 2;
	visibility: hidden;
}

